.container {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.UserName {
    width: 400px;
    font-size: 26px;
}

.password {
    width: 400px;
    font-size: 26px;
}
