

.container {
  display: flex;
  flex-direction: column;
  
}

.footer {
  text-align: center;

}

.footer_input {
  width: 500px;
  font-size: 18px;
  border-radius: 6px;
  padding: 5px;
  border: 3px inset rgb(243, 237, 237);
}

.footer_button {
  background-color: #3BA4C7;
  color: white;
  font-size: 18px;
  height: 35px;
  width: 100px;
  border: 3px inset rgb(243, 237, 237);
  border-radius: 6px;
  
}

.container_keeps {
  display: flex;
  /*flex-direction: row-reverse;
  justify-content: flex-end; */
  flex-wrap: wrap;
  align-items: baseline;
  
  
}

.keep_textContainer {
  padding-bottom: 30px;
}

.textContainer_text {
  display: flex;
  word-break: break-all; 
}

.header-auth {
  display: inline-block;
}

.header_registr {
  margin-left: 60px;
}
