.keep {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(226, 219, 219);
  border-radius: 10px;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  width: 250px;
  position: relative;
}

.keep:hover {
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
}

.keep_optionsContainer {
    display: flex;
    height: 15px;
    flex-direction: row-reverse;
}

.options {
  padding-left: 6px;
  width: 16px;
  position:absolute;
  left:1;
  bottom:0;
  right:0;
  top:1;
  background:rgba(255,255,255, 0.7);
  display:none;
}

.optionsContainer_deleteKeep {
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 0px 10px 0px gray, 0px 5px 0px gray;
}

.options:hover {
  cursor: pointer;
}

.keep:hover .options{
 display: flex;
 height: 20px;
}
.options:hover .optionsContainer_deleteKeep{
  background-color: black;
  box-shadow: 0px 10px 0px black, 0px 5px 0px black;
}

.optionsMenu{
  position: absolute;
  bottom: -92px;
  right: -138px;
  left: 200;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;

  
}

.optionsMenu div {
  padding: 12px 16px;
  background-color: #f9f9f9;
  cursor: pointer;
  
}

.optionsMenu div:hover {
  background-color: #f1eeee;  
}

.showClose {
  visibility: hidden;
}
